---
import type { ActiveIntegration, OfficialIntegration, Integration } from "astro-dashboard-ui";
import { spawn } from "child_process";
import { execaCommand } from "execa";
import BaseLayout from "../../layouts/astro-dashboard-ui/BaseLayout.astro";

const activeIntegrations: ActiveIntegration[] = "[ASTRO_DASHBOARD_UI:ACTIVE_INTEGRATIONS]" as unknown as ActiveIntegration[];
const officialIntegrations: OfficialIntegration[] = "[ASTRO_DASHBOARD_UI:OFFICIAL_INTEGRATIONS]" as unknown as OfficialIntegration[];

if (Astro.request.method === "POST") {
    // Get command from the request
    const data = await Astro.request.formData();
    const command = data.get("command")!.toString();

    // Execute the `astro add` command
    await execaCommand(command, { stdio: "inherit" });

    // Restart the server
    // Source - https://gist.github.com/silverwind/d0802f7a919ae86ff25e
    setTimeout(() => {
        process.on("exit", () => {
            spawn(process.argv.shift() as string, process.argv, {
                cwd: process.cwd(),
                detached: true,
                stdio: "inherit"
            });
        });

        process.exit();
    }, 1000);

    // Refresh the page
    return Response.redirect(Astro.request.headers.get("referer"));
}
---

<BaseLayout title="Integrations">
    <header class="container page-header">
        <h1>Integrations</h1>
    </header>
    <main class="container page-content">
        <section aria-labelledby="active-integrations-title">
            <h2 id="active-integrations-title">Active integrations</h2>
            <ul class="flow integrations-type-list">
                {activeIntegrations.map((integration: ActiveIntegration) => (
                    integration.items.length ? (
                        <li>
                            <article>
                                <h3>{integration.name}</h3>
                                <ul class="flow integration-list">
                                    {integration.items.map((item: Integration) => (
                                        <li>
                                            <article class="card">
                                                <h4>{item.name}</h4>
                                                <a href={item.url} target="_blank" rel="noopener noreferrer">Homepage</a>
                                            </article>
                                        </li>
                                    ))}
                                </ul>
                            </article>
                        </li>
                    ) : null
                ))}
            </ul>
        </section>
        <section aria-labelledby="official-integrations-title">
            <h2 id="official-integrations-title">Official integrations</h2>
            <ul class="flow integrations-type-list">
                {officialIntegrations.map((integration: OfficialIntegration) => (
                    <li>
                        <article>
                            <h3>{integration.name}</h3>
                            <ul class="flow integration-list">
                                {integration.items.map((item: Integration) => (
                                    <li>
                                        <article class="card">
                                            <h4>{item.name}</h4>
                                            {item.command ? <code>{item.command}</code> : null}
                                            {item.active ? (
                                                <p>Added</p>
                                            ) : (
                                                item.command ? (
                                                    <form method="POST">
                                                        <button type="submit" name="command" value={item.command}>Add</button>
                                                    </form>
                                                ) : null
                                            )}
                                            <a href={item.url} target="_blank" rel="noopener noreferrer">Homepage</a>
                                        </article>
                                    </li>
                                ))}
                            </ul>
                        </article>
                    </li>
                ))}
            </ul>
        </section>
    </main>
</BaseLayout>

<style>
:where(.page-header) {
    padding-block: 4rem;
}

:where(.page-content) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 6rem;
    align-items: start;
}

:where(h2) {
    color: hsl(257 27% 36%);
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 0.8rem;
    margin-block-end: 1rem;
}

:where(h3) {
    margin-block-end: 1rem;
}

:where(.integrations-type-list) {
    --flow-space: 4rem;
}

:where(.integration-list) {
    --flow-space: 1rem;
}
</style>
