---
import type { ActiveIntegration, OfficialIntegration, Integration } from "astro-dashboard-ui";
import { execaCommand } from "execa";
import { activeIntegrations, officialIntegrations } from "../../data/astro-dashboard-ui/integrations.ts";
import { CopyButton } from "../../components/astro-dashboard-ui/CopyButton.tsx";
import { AddButton } from "../../components/astro-dashboard-ui/AddButton.tsx";
import BaseLayout from "../../layouts/astro-dashboard-ui/BaseLayout.astro";
import terminalSVG from "/assets/astro-dashboard-ui/terminal.svg";
import clipboardSVG from "/assets/astro-dashboard-ui/clipboard.svg";
import denoSVG from "/assets/astro-dashboard-ui/deno.svg";
import litSVG from "/assets/astro-dashboard-ui/lit.svg";
import netlifySVG from "/assets/astro-dashboard-ui/netlify.svg";
import nodeSVG from "/assets/astro-dashboard-ui/node.svg";
import partytownSVG from "/assets/astro-dashboard-ui/partytown.svg";
import preactSVG from "/assets/astro-dashboard-ui/preact.svg";
import reactSVG from "/assets/astro-dashboard-ui/react.svg";
import sitemapSVG from "/assets/astro-dashboard-ui/sitemap.svg";
import solidSVG from "/assets/astro-dashboard-ui/solid.svg";
import svelteSVG from "/assets/astro-dashboard-ui/svelte.svg";
import tailwindSVG from "/assets/astro-dashboard-ui/tailwind.svg";
import turbolinksSVG from "/assets/astro-dashboard-ui/turbolinks.svg";
import vercelSVG from "/assets/astro-dashboard-ui/vercel.svg";
import vueSVG from "/assets/astro-dashboard-ui/vue.svg";

const logos: {[x: string]: any} = {
    "@astrojs/deno": denoSVG,
    "@astrojs/lit": litSVG,
    "@astrojs/netlify": netlifySVG,
    "@astrojs/node": nodeSVG,
    "@astrojs/partytown": partytownSVG,
    "@astrojs/preact": preactSVG,
    "@astrojs/react": reactSVG,
    "@astrojs/sitemap": sitemapSVG,
    "@astrojs/solid-js": solidSVG,
    "@astrojs/svelte": svelteSVG,
    "@astrojs/tailwind": tailwindSVG,
    "@astrojs/turbolinks": turbolinksSVG,
    "@astrojs/vercel": vercelSVG,
    "@astrojs/vue": vueSVG,
};

let message: string | null = null;

if (Astro.request.method === "POST") {
    // Get command from the request, e.g. `react`, `tailwind`
    const data = await Astro.request.formData();
    const command = data.get("command")!.toString();

    // Execute the `[npx|pnpx|yarn] astro add` command
    await execaCommand(command, { stdio: "inherit" });

    // Refresh the page and add message notification
    new Response(null, { status: 200 });
    message = "Data might be outdated. Restart the server to sync."
}
---

<BaseLayout title="Integrations">
    <header class="container page-header">
        {message ? (
            <div class="info-banner">
                <p>{message}</p>
            </div>
        ) : null}
        <h1>Integrations</h1>
    </header>
    <main class="container flow page-content">
        <section aria-labelledby="active-integrations-title">
            <h2 id="active-integrations-title">Active integrations</h2>
            <ul class="integrations-type-list">
                {activeIntegrations.map((integration: ActiveIntegration) => (
                    integration.items.length ? (
                        <li>
                            <article>
                                <h3>{integration.name}</h3>
                                <ul class="flow integration-list">
                                    {integration.items.map((item: Integration) => (
                                        <li>
                                            <article class="card" data-status={item.active ? 'active' : undefined}>
                                                <header class="card-header">
                                                    <h4>{item.name}</h4>
                                                </header>
                                                <footer class="card-footer">
                                                    <div class="card-logo-and-buttons">
                                                        <img class="card-logo" src={logos[item.name]} aria-hidden="true" />
                                                    </div>
                                                    <a href={item.url} target="_blank" rel="noopener noreferrer">Homepage</a>
                                                </footer>
                                            </article>
                                        </li>
                                    ))}
                                </ul>
                            </article>
                        </li>
                    ) : null
                ))}
            </ul>
        </section>
        <section aria-labelledby="official-integrations-title">
            <h2 id="official-integrations-title">Official integrations</h2>
            <ul class="integrations-type-list">
                {officialIntegrations.map((integration: OfficialIntegration) => (
                    <li>
                        <article>
                            <h3>{integration.name}</h3>
                            <ul class="flow integration-list">
                                {integration.items.map((item: Integration) => (
                                    <li>
                                        <article class="card" data-status={item.active ? 'active' : undefined}>
                                            <header class="card-header">
                                                <h4>{item.name}</h4>
                                            </header>
                                            <footer class="card-footer">
                                                <div class="card-logo-and-buttons">
                                                    <img class="card-logo" src={logos[item.name]} aria-hidden="true" />
                                                    {item.active ? (
                                                        null
                                                    ) : (
                                                        item.command ? (
                                                            <div class="card-buttons">
                                                                <form method="POST">
                                                                    <AddButton client:idle command={item.command}>
                                                                        <img src={terminalSVG} aria-hidden="true" />
                                                                    </AddButton>
                                                                </form>
                                                                <CopyButton client:idle command={item.command}>
                                                                    <img src={clipboardSVG} aria-hidden="true" />
                                                                </CopyButton>
                                                            </div>
                                                        ) : null
                                                    )}
                                                </div>
                                                <a href={item.url} target="_blank" rel="noopener noreferrer">Homepage</a>
                                            </footer>
                                        </article>
                                    </li>
                                ))}
                            </ul>
                        </article>
                    </li>
                ))}
            </ul>
        </section>
    </main>
</BaseLayout>

<style>
:where(.page-header) {
    padding-block: 4rem;
}

:where(.page-content) {
    --flow-space: 8rem;
}

:where(h2) {
    color: hsl(257 27% 36%);
    text-transform: uppercase;
    letter-spacing: .05em;
    font-size: 0.8rem;
    margin-block-end: 1rem;
}

:where(h3) {
    margin-block-end: 1rem;
}

:where(.integrations-type-list) {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 18.75rem), 1fr));
    gap: 2rem;
    align-items: start;
}

:where(.integration-list) {
    --flow-space: 1rem;
}
</style>
